<!doctype html>

<html lang="en">
<head>
    <title>Ayakashi Ghost Guild Fantasy About Us</title>
    
    <meta name="viewport" content="wide=device-width, initial-scale=1.0">
    
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
</head>
<body ng-app="app" animation="slide-left-right-ios7">

    
    <div class="container">
        <!-- Container for all content to be display-->
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                <!-- Header -->
                <h1>About Us</h1>
                </div>
            </div>
        </div>
        
        <div>
            <p>Our developers:</p>
        </div>        

        <div class="row">
            <div class="col-sm-9 col-xs-12">
                <!-- Main Content Area -->
                <img src="/img/YW.JPG" alt="Yang's Information" height="200" width="300"/>
            </div>
               
            <div class="col-sm-3 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Developer: Yang
                    </div>
                    <div class="panel-body">
                        <p>
                            Yang is a Software Engineer in Infomation Science with an interest in machine learning and big data.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-9 col-xs-12">
                <!-- Main Content Area -->
                <img src="/img/Rena.jpg" alt="Rena's Information" height="200" width="300"/>
            </div>
               
            <div class="col-sm-3 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Developer: Rena
                    </div>
                    <div class="panel-body">
                        <p>
                            Rena is a programmer in bioinformatics with an interest in computational biology and genomics.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- Footer -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        Contact information: 
                    </div>
                    <div class="panel-body">
                        Yang: yang-wei@uiowa.edu
                    </div>
                    <div class="panel-body">
                        Rena: mengqi-lin@uiowa.edu
                    </div>
                </div>
            </div>
        </div>
        
    </div> <!-- Container for all content to be display-->
</body>
</html>
