<ion-view title="Collection" id="page7" ng-controller="collectionCtrl">
    <ion-content padding="true" style="background: url(img/fpXvo7ASeWJS54jyaBlE_background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="question1-form3" class="list">
    	
		<div class="list">

		    <a class="item item-thumbnail-left" ng-repeat="x in collections">
		      <img src="{{x.url}}" ng-click=showCard(x.url)>
		      <h2>Description</h2>
		      <p>{{x.description}}</p>
		      <button class="button icon-right ion-nuclear button-positive" style="font-size: 15px;" ng-click=exchangeForEnergy(x)>Exchange</button>
		      <button class="button icon-right ion-android-favorite button-balanced" style="font-size: 15px;" ng-click=exchangeForLife(x)>Exchange</button>
		    </a>


		</div>
	</form>
    </ion-content>
</ion-view>
