<ion-view title="GachaPage" id="page4">
    <ion-content padding="true" style="background: url(img/fpXvo7ASeWJS54jyaBlE_background.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div>
            <img src={{cardImage}} width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
<!--         <form id="question1-form3" class="list">
        
        <div class="list">

            <a class="item item-thumbnail-left" ng-repeat="x in cards">
              <img src="{{x.url}}">
              <h2>Description</h2>
              <p></p>
            </a>

        </div>
       </form> -->
        <a id="gacha-button1" style="font-size:30px;" class="button button-balanced  button-block icon ion-ios-nutrition" ng-click="summon('nsCards/')"> Normal Summon</a>
        <p style="color:#FAFAFA;text-align:center;">❀ common daemons appears ❀</p>
		<a  id="gacha-button2" style="font-size:30px;" class="button button-energized  button-block icon ion-icecream" ng-click="summon('rsCards/')"> Rare Summon</a>
		<p style="color:#FAFAFA;text-align:center;">❃ rare daemons appears ❃</p>
<!-- 		<a id="gacha-button3" style="font-size:30px;" class="button button-assertive  button-block icon ion-wineglass"> Exchange</a>
        <p style="color:#FAFAFA;text-align:center;">✽ exchange for rare daemons ✽</p> -->
        <a  id="gacha-button4" style="font-size:30px;" class="button button-royal  button-block icon ion-beer"> Shop</a>
        <p style="color:#FAFAFA;text-align:center;">✿ super rare daemons appears ✿</p>
    </ion-content>
</ion-view>