

<ion-view title="Question5" id="Question5">
    <ion-content padding="true" style="background: url(img/explore-w1-academy.jpg) no-repeat center;background-size:cover;" class="has-header">
        
        <form id="question5-form1" class="list">
            <div class="item item-body" id="question5-list-item-container1">
            <div id="question5-markdown1" style="margin-top:0px;color:#000000;">
                <p>Question5:{{question}}</p>
            </div>
<!--             <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div> -->
            </div>
            <ion-checkbox ng-repeat="item in listPref"
               ng-model="checkItems[item]" ng-change="print(item)">
               {{ item }}
           </ion-checkbox>
<!--            <ion-checkbox ng-repeat="item in listPref"
               ng-model="item.checked" ng-change="updateSelection($index, entities)">
               {{ item }}
           </ion-checkbox> -->
        </form>
        <button id="question5-button1" class="button button-positive  button-block" ng-click="submit()">Submit</button>
    </ion-content>
</ion-view>