<ion-view title="Question1" id="page9">
    <ion-content padding="true" style="background: url(img/explore-w1-academy.jpg) no-repeat center;background-size:cover;" class="has-header">
        
        <form id="question1-form3" class="list">
            <div class="item item-body" id="question1-list-item-container3">
            <div id="question1-markdown4" style="margin-top:0px;color:#000000;">
                <p>Question1:{{question}}</p>
            </div>
            </div>
            <ion-checkbox ng-repeat="item in listPref"
               ng-model="checkItems[item]" ng-change="print(item)">
               {{ item }}
           </ion-checkbox>
<!--            <ion-checkbox ng-repeat="item in listPref"
               ng-model="item.checked" ng-change="updateSelection($index, entities)">
               {{ item }}
           </ion-checkbox> -->
        </form>
        <button id="question1-button1" class="button button-positive  button-block" ng-click="submit()">Submit</button>
    </ion-content>
</ion-view>

