<ion-view title="Setting" id="page8" style="background-color:#BEDCEE;">
    <ion-content padding="true" style="background: url(img/fpXvo7ASeWJS54jyaBlE_background.jpg) no-repeat center;background-size:cover;" class="has-header">

    <div class="list">

        <label class="item item-input" id="login-input1">
            <span class="input-label">NICKNAME</span>
            <input type="text" ng-model="k.nickname" placeholder="e.g. SUMMER BLAST">
        </label>

  </div>

  <a class="item item-avatar">
   <img ng-if="firebaseUser" ng-src="{{icon}}">
    <div class="list">

    <div class="item item-input item-select">
        <div class="input-label">
          ICON
        </div>
        <select ng-model="user.url" ng-change="test()">
            <option ng-selected="selected"></option>            
            <option>female</option>
            <option>male</option>
        </select>
    </div>
  </div>
</a>
  <a id="Setting-button2" class="button button-positive  button-block" ng-click="updateUser()">Update</a>
  <a id="Setting-button1" href="https://www.facebook.com/AyakashiGhostGuildFantasy" class="button button-positive  button-block">Like us on Facebook</a>

  <a id="Setting-button2" class="button button-positive  button-block" ng-click="aboutUs()">About Us</a>

  <a class="button button-positive  button-block" ng-click="logout()">Logout</a>
  </ion-content>
</ion-view>